---
layout: default.hbs
subject: New Services Discovered
---
<span class="preheader">New services discovered: {{#each new-services.discovered}}{{ name }}, {{/each}} </span>
<table class="main">
    <tr>
        <td class="wrapper">

            <table>
                <tr>
                    <td>
                        <a href="{{ default.services_url }}" target="_blank">Explore all services found to date</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        New services discovered:
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <th class="service-icon-col"></th>
                    <th class="service-name-col">Service</th>
                    <th class="service-readiness-col">Readiness Score</th>
                </tr>

                {{#each new-services.discovered}}
                <tr>
                    <td class="service-icon-col-item">
                        <img class="service-icon" src="https://s3-us-west-2.amazonaws.com/services-images/{{icon}}">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class="service-name">
                                    <a href="{{service360}}" target="_blank">{{name}}</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{#each categories}}
                                        <span class="service-category">{{this}}</span>
                                    {{/each}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="service-readiness-col-item risk-icon {{readiness}}"></td>
                </tr>
                {{/each}}

            </table>
        </td>
    </tr>
</table>

<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p>Don't like these emails? <a href="{{ default.unsubscribe_url }}">
                    <unsubscribe>Unsubscribe</unsubscribe>
                </a>.
                </p>
            </td>
        </tr>
    </table>
</div>